<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>search test</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="app">
        <script src="dist/main.js"></script>
        <h1>Search Test</h1>
        <input v-on:change="search" v-model="searchtext" type="text" class="search" id="search" placeholder="Search..">
        <div class="cool" v-for="document in documents">
            <b>{{document.name}}</b>
            <br>
            Primary Use: {{ document.text }}
            <br>
            Speed: {{ document.speed }}
            <br>
            Glide: {{ document.glide }}
            <br>
            Turn: {{ document.turn }}
            <br>
            Fade: {{ document.fade }}
            <br>
            Stability: {{ document.stability }}
            <br>
            Recommeded Skill Level: {{ document.recommendedskillevel }}
        </div>
    </div>
</body>

</html>